<div class="container bg-light mt-5">
   <div class="row align-items-start">
      <div class="col-md-4">
         <div class="card m-2" style="width: 18rem;">
            <img src="img/d4.jpg" class="card-img-top" alt="1st Card">
            <h5 class="card-title mt-5 mb-0 ms-3">خدمات مناسب</h5>
            <div class="card-body">
              <p class="card-text">بیمارستاپ به شما خدمات شایسته متناسب با هزینه منصفانه پرداختی ارایه می دهد. </p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card m-2" style="width: 18rem;">
            <img src="img/d5.png" class="card-img-top" alt="2nd Card">
            <h5 class="card-title mt-5 mb-0 ms-3">هزینه منصفانه</h5>
            <div class="card-body">
              <p class="card-text">بیمارستاپ هزینه منصفانه بابت ارایه خدمات پیشنهاد میکند به طوری که بیمار و پزشک هر دو از دریافت و ارایه خدمات خشنود باشند.</p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card m-2" style="width: 18rem;">
            <img src="img/d4.jpg" class="card-img-top" alt="1st Card">
            <h5 class="card-title mt-5 mb-0 ms-3">اخلاق و استاندارد حرفه ای</h5>
            <div class="card-body">
              <p class="card-text">بیمارستاپ در ترویج اخلاق و استانداردهای حرفه سلامت کوشاست و سعی در رعایت و اعمال آن دارد.</p>
            </div>
         </div>
      </div>
   </div>
</div>