<div class="container bg-light mt-5">
   <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <div class="card h-100">
          <img src="img/d4.jpg" class="card-img-top" alt="خدمات مناسب">
          <div class="card-body">
            <h5 class="card-title">خدمات مناسب</h5>
            <p class="card-text">بیمارستاپ به شما خدمات شایسته متناسب با هزینه منصفانه پرداختی ارایه می دهد.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="img/d5.jpeg" class="card-img-top" alt="هزینه منصفانه">
          <div class="card-body">
            <h5 class="card-title">هزینه منصفانه</h5>
            <p class="card-text">بیمارستاپ هزینه منصفانه بابت ارایه خدمات پیشنهاد میکند به طوری که بیمار و پزشک هر دو از دریافت و ارایه خدمات خشنود باشند.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="img/d6.png" class="card-img-top" alt="اخلاق و استاندارد حرفه ای">
          <div class="card-body">
            <h5 class="card-title">اخلاق و استاندارد حرفه ای</h5>
            <p class="card-text">بیمارستاپ در ترویج اخلاق و استانداردهای حرفه سلامت کوشاست و سعی در رعایت و اعمال آن دارد.</p>
          </div>
        </div>
      </div>
    </div>
</div>