<footer>
   <div class="container bg-light mt-5">
      <div class="row">
         <div class="col-md-4 mt-2">
            <dt class="dt text-center">نشانی ما</dt>
            <dd class="dd text-center">خیابان سرخوش، کوی سرمست، کوچه شادمان، ساختمان شادی، واحد 13</dd>
         </div>
         <div class="col-md-4 mt-2">
            <dt class="dt text-center">تلفن ما</dt>
            <dd class="dd text-center">+98 21 123456789</dd>
         </div>
         <div class="col-md-4 mt-2">
            <dt class="dt text-center">ایمیل ما</dt>
            <dd class="dd text-center">info@bimarstop.com</dd>
         </div>
      </div>
   </div>
</footer>
